@charset "UTF-8";

#enviar:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

#limpar:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}