@charset "UTF-8";

* {
    margin: 0;
}

.menu {
    background-color: blue;
    height: 6rem;
    color: white;
    font-size: 5rem;
}

.banner {
    height: calc(100vh - 6rem);
    background-image: url(../imagens/reuniao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}