@charset "UTF-8";

div {
    display: inline-block;
    background-color: #ccc;
    width: 200px;
    height: 120px;
}

span {
    display: inline-block;
    background-color: #ffc;
    width: calc(100% - 205px);
    height: 120px;
}

ul {
    padding: 0px;
}

li {
    float: left;
    display: inline-block;
    background-color: #cff;
    width: calc(100% / 5);
    height: 30px;
}